networks:
  monitoring:
    external: true
    name: monitoring

services:
  cadvisor:
    restart: always
    image: ghcr.io/google/cadvisor:0.54.0
    container_name: cadvisor
    networks:
      - monitoring
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    privileged: true

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    networks:
      - monitoring
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"

  prometheus_exporter_gpu:
    image: git.phorge.fr/phorge/prometheus_exporter_gpu:latest
    container_name: prometheus_exporter_gpu
    restart: unless-stopped
    networks:
      - monitoring
    pid: "host"
    devices:
      - /dev/kfd
      - /dev/dri
    security_opt:
      - seccomp:unconfined
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all